.progress-text{
    font-weight: bold;
    color: grey;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
}

.progress-main-wrapper{
    width: 100%;
}

.bar-wrapper{
    height: 45px;
    margin-top: 3px;
    width: 60%;
    vertical-align: text-top;
    display: inline-block;
}

.total-wrapper span{
    position: absolute;
    top: -5px;
    font-size: 14pt;
}

.total-wrapper p{
    position: absolute;
    top: 10px;
    left: -12px;
    font-size: 11pt;
}

.bar-total-wrapper{
    height: 14px;
    background-color: lightgray;
    width: 100%;
}

.bar-completed{
    background-color: green;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
    height: 14px;
}

.total-wrapper{
    height: 34px;
    width: 150px;
    padding: 0;
    font-weight: bolder;
    position: relative;
    -webkit-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -o-transition: opacity 1.5s ease-in;
    -ms-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
}

.target-wrapper{
    display: inline-block;
    position: absolute;
    border: 1px solid black;
    top: 25px;
    text-align: center;
    height: 50px;
    width: 60px;
    padding: 5px;
    color: white;
    background-color: gray;
    font-size: 10pt;
}
.target-wrapper p{
    margin-left: -2px;
}
.target-wrapper span{
    position: relative;
    top: -15px;
}